<nav class="navigation navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/tours"><img class="logo" src="assets/ll.svg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a routerLink="/tours">Tours</a>
      <a (click)="openDialogAboutUs()">About Us</a>
      <a (click)="openDialogContact()">Contact</a>
      <a routerLink="/orders" *ngIf="authService.isLoggedIn()">Orders</a>
    </ul>
    <ul class="navbar-nav mr-auto">
      <a routerLink="/add-tour" *ngIf="authService.isLoggedIn() && authService.isAdmin()">Add Tour</a>
      <a routerLink="/admin-order" *ngIf="authService.isLoggedIn() && authService.isAdmin()">Admin Orders</a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <a *ngIf="authService.isLoggedIn()" class="iconBasketHref" routerLink="/busket"><img class="iconBasket" src="/src/image/makefg.png"
          alt="">
      </a>
      <a routerLink="/logIn" *ngIf="!authService.isLoggedIn()">Sign In</a>
      <a routerLink="/registration" *ngIf="!authService.isLoggedIn()">Register</a>
      <a (click)="authService.logout()" *ngIf="authService.isLoggedIn()">SignOut</a>
    </ul>
  </div>
</nav>