<div class="conteiner">
    <p>
        <a href="#">
            <img src="assets/facebook-32.png" alt="">
        </a>

        <a href="#">
            <img src="assets/instagram-32.png" alt="">
        </a>

        <a href="#">
            <img src="assets/google-plus-32.png" alt="">
        </a>

        <a href="#">
            <img src="assets/twitter-32.png" alt="">
        </a>

        <a href="#">
            <img src="assets/facebook-32.png" alt="">
        </a>
        <a href="#">
            <img src="assets/snapchat-2-32.png" alt="">
        </a>
    </p>
    <p>© 2018, Developed by Ivan Kiseluchuk</p>
</div>