.container{
    margin-top:80px;
    width: 400px;
    text-align:center;
    height: 100%;
}
.container mat-form-field{
    width: 100%;
    margin: 5px;
    
}
.main-container{
    width: 100%;
    height: 100%;

    background-size: cover;
}
.icon{
    cursor: pointer;
}
.submitButton{
    background: #2f8def;
    width: 100%;
    height: 45px;
    color: white;
}