<div class="main-container">
   <div class="container">
      <form [formGroup]="registrationForm">
         <mat-form-field>
            <input matInput placeholder="FirstName" formControlName="firstName" required>
            <mat-error *ngIf="!firstName.valid && firstName.touched">
               <mat-error *ngIf="firstName.errors.required">firstName is required</mat-error>
            </mat-error>
         </mat-form-field>
         <mat-form-field>
            <input matInput placeholder="LastName" formControlName="lastName" required>
            <mat-error *ngIf="!lastName.valid && lastName.touched">Lastname is required</mat-error>
         </mat-form-field>
         <mat-form-field>
            <input matInput placeholder="UserName" formControlName="userName" required>
            <mat-error *ngIf="!userName.valid && userName.touched">
               <mat-error *ngIf="userName.errors.required">Username is required</mat-error>
               <mat-error *ngIf="userName.errors.minlength">Minimum length {{userName.errors.minlength.requiredLength}}
                  charter</mat-error>
               <mat-error *ngIf="userName.errors.maxlength">Maximum length {{userName.errors.maxlength.requiredLength}}
                  charter</mat-error>
            </mat-error>

         </mat-form-field>
         <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="!email.valid && email.touched">
               <mat-error *ngIf="email.errors.required">Email is required</mat-error>
               <mat-error *ngIf="email.errors.email">Email not valid</mat-error>
            </mat-error>
         </mat-form-field>
         <mat-form-field>
            <input required matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" formControlName="password">
            <mat-icon class="icon" matSuffix (click)="hidePassword = !hidePassword">{{hide(hidePassword)}}</mat-icon>
            <mat-error *ngIf="!password.valid && password.touched">
               <mat-error *ngIf="password.errors.required">Password required</mat-error>
               <mat-error *ngIf="password.errors.pattern">Password not valid</mat-error>
            </mat-error>
         </mat-form-field>

         <mat-form-field style="max-height: 50px;">
            <input style="margin-bottom: 0px; padding-bottom: 0px;" required matInput placeholder="Confirm Password" [type]="hideConfirmPassword ? 'password' : 'text'"
               formControlName="confirmPassword">
            <mat-icon class="icon" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hide(hideConfirmPassword)}}</mat-icon>
            <mat-error *ngIf="password.valid && isEquels()">Confirm password and password dont mathc</mat-error>
         </mat-form-field>
         <mat-error style="font-size: 13.5px; text-align: left;" *ngIf="password.valid && isEquels()">Confirm password and password dont match</mat-error>


         <button (click)="submit()" class="submitButton" [disabled]="registrationForm.invalid || isEquels()"
            mat-raised-button>Submit</button>
      </form>
   </div>
</div>