<h1>About Us</h1>
<mat-dialog-content class="mat-typography">
  <p>Incorporated in March 1990 as a Singapore based tour agency,
    CTC Travel has evolved into a leading travel and tour operator today.
    More than just a travel agency, CTC Travel's expertise in destination international
    faring and strategic mindsets has allowed the company to leverage on its strengths
    to provide highly diverse customer base the best travel options.</p>

  <p>Celebrating over 20 years of established travel services, CTC Travel Flagship store
    has strategically relocated to Chinatown Point #03 - 03/04/05 -06 06. With the new
    addition of Downtown line, this provides added convenience to our clients and customers.
    A one stop travel hub that provides a wide array of services travel services
    including: Outbound Tour Packages; Flexi Holidays; Customized & Private Touring Experiences;
    MICE/Incentive Travel, Educational Programs and niche holiday programs targeted for the Muslim
    Market segment and many more. CTC Travel brand which benchmark itself on quality services, have
    created innovative travel itineraries with exclusive inclusions, pride itself in working with
    quality and professional partners all over the world including China, Europe, America, Australia,
    New Zealand, Japan, Korea, Taiwan, Middle East, and many more exotic destinations.
    We are also well connected with both local and international cruises thus enabling us to
    journey our clients not only to regional destinations but to faraway locations such as Alaska,
    Caribbean, North /South Pole and beyond.</p>

  <p>
    Together with our worldwide network with hotels, tourism offices and embassies,
    we aim to deliver the best travel deals to our clients. CTC Travel works have been
    recognized by the industry having garnered a number of awards over the years.
    The Superbrand Award for its outstanding and consistent brand performance and the
    Successful Entrepreneur Award 2010 (Platinum Category), acknowledging CTC’s success
    in business creativity. Additionally, CTC was recognized as one of Asia Pacific’s
    most outstanding performers in the travel industry with the prestigious TTG 2010
    Travel Award for the Most Entrepreneurial Travel Company of the Year. Marking its
    milestone in service excellence, CTC achieved the ISO 9001 certification in 2010,
    a testament to CTC’s commitment to our customers for a streamlined and documented
    operational processes in our operations.
  </p>

  <h2>Our Core Values</h2>

  <h5>COMMITMENT</h5>
  <p>We follow through promises we make to our people, our clients and our partners</p>

  <h5>TRUST</h5>
  <p>We encourage constructive
    identification of problems and maintain confidentiality of sensitive information </p>

  <h5>CUSTOMER SERVICE</h5>
  <p>
    Customer Service is the focal point of our organization.
    We relentlessly search for and create new ways to improve our products and services to clients.
  </p>

  <h2>Product & Services</h2>
  <h5>Outbound Group Tours</h5>
  <p>Most of our customers travel with us time and again-the true test of our high service standards.
    In fact, it is this loyalty which has earned us the market leader position for providing quality
    and value- packed tours to Europe, America, Australia, New Zealand, China, Asia and Exotic Destinations.
  </p>

  <p>
      Nothing brings us greater satisfaction than to hear about the exciting, relaxing adventures of our customers.
       Our outbound tour customers are looking for creative, value-for-money itineraries- all of our destinations, 
       activities, tours and hotels are carefully selected. Behind the scenes, our Marketing & Tour Development teams 
       are continually researching the best blend of scenic attractions, spectacular sights and exciting cities.
  </p>

  <p>
      Our Free & Easy Department was established to fully service the increasing number of seasoned travellers who 
      are seeking a flexi vacation for a freedom of choice, time together with a thirst for a more fulfilling vacation.  
      We provide an array of product offerings ranging from 2 To Go Tours to customized small group private touring as well
       as the ability to offer different touring experiences such as cruising, rail holidays, self drive and outback holiday 
       programs. Our offerings are varied and together with an innovative and creative product planning team, we are able to 
       offer to our travelers an experiential vacation which is affordable, memorable and impeccable
  </p>

  <p>
      Offering a range of cruise products that comprises of various brands such as; Costa Cruises; Royal Caribbean;
       Star Cruises, Princess Cruises and many more… CTC Travel provides choice and flexibility to our customers be 
       it product range, sailing months, destinations and value add inclusions. Our team of cruise specialist are avid
        cruiser themselves who are passionate and well versed in cruise vacation. They are able to assist you in your 
        ngcruise and schedule planning to best maximize your travelling time.
  </p>
</mat-dialog-content>