.conteinerCarousel {
  border-top: 5px solid #2f8def;
  margin-left: 80px;
  float: left;
}

.main {
  margin-top: 50px;
  height: 500px;
}

.hotelDescription {
  float: left;
  height: 395px;
  background: #2f8def;
  width: 300px;
  color: white;
}

.center {
  text-align: center;
}

.content {
  margin-top: 40px;
  height: 100%;
}

.images {
  width: 100%;
  max-height: 390px;
}

.item {
  width: 600px;
}

.hotelInfo {
  width: 300px;
  height: 400px;
  float: left;
}

.icon {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 8px;
}

.float {
  list-style-type: none;
  width: 30px;
  height: 30px;
}

li {
  list-style-type: none;
  margin-bottom: 15px;
}

.right {
  float: right;
}

ul {
  margin-top: 10px;
}

li button {
  width: 100%;
  font-size: 16px;
}