<div class="container">
  <p style="text-align: center; margin-bottom: 200px; font-size: 30px;" *ngIf="!Items">List orders is empty</p>
  <div class="contentBusket" *ngIf="Items">
    <div class="itemBusket" *ngFor="let elem of Items">
      <div class="photo">
        <img class="images" [src]="elem.path" alt="">
      </div>
      <a (click)=delete(elem.id)>
        <img class="close" src="/src/image/baseline-close-24px (1).svg" />
      </a>
      <div class="info">
        <p class="tourName">Count people: {{elem.countPeople}}</p>
        <p>Export from: {{CityEnum[elem.cityEnum]}}</p>
        <p>Type of Food: {{TypeOfFood[elem.typeOfFood]}}</p>
        <p>Duration: {{elem.duration}} days</p>
        <p>StartDate: {{elem.startDate}}</p>
        <button (click)="orderService.goTo(elem.tourId)" class="btn btn-primary">Go To Tour</button>
      </div>
      <div class="priceTour">
        <p style="margin-bottom: 0px">Price: {{elem.totalPrice}}</p>
        <p>Status {{getStatus(elem.isConfirmed)}}</p>
      </div>
    </div>
  </div>
</div>