body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
#wrap{
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    background-repeat: repeat; 
}
router-outlet{
    flex: 1;
    font-family: 'Roboto', sans-serif;
    color: white;
}
app-header{
    height: 50px;
}
app-footer{
    height: 100px;
}
