@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
@import "~nouislider/distribute/nouislider.min.css";
body{
    font-size: 18px;
    outline:0 !important;
}
.ng5-slider .ng5-slider-pointer{
    outline:0 !important;
}
#wrap{
    background-image: url(assets/bg-lightl-901.jpg);
}